# importar panda, pd é só um resumo.

In [1]:
import pandas as pd
import numpy as np

# DataFrame são tabelas iguais a do excel.
- df é só pra saber que é um DataFram. recomendação.
- tabela_df = pd.DataFram()
- dicionário venda abaixo.

In [2]:
venda = {'data':['15/02/2021', '16/02/2021'],
'valor': [500, 300],
'produto': ['feijão','arroz'],
'quantidade': [50, 70]}

#como criar um datafframe com o dicionário acima.
vendas_df = pd.DataFrame(venda)

# tem duas maneiras de ver o DataFrame, ***print*** e ***display***.
- no display ele fica mais detalhado.

In [3]:
print(vendas_df)

         data  valor produto  quantidade
0  15/02/2021    500  feijão          50
1  16/02/2021    300   arroz          70

In [4]:
display(vendas_df)

         data  valor produto  quantidade
0  15/02/2021    500  feijão          50
1  16/02/2021    300   arroz          70

# como usar ***FOR*** no Dataframe do pandas.

In [12]:
for valor in vendas_df['quantidade']:
    valor = valor + 1 
    print(valor)

51
71

# criar DataFrame com listas
- os nomes das colunas são automaticamente números.

In [5]:
dados = ([[1, 2, 4],
         [4, 8, 9],
         [1, 7, 2]])
pd.DataFrame(dados)

   0  1  2
0  1  2  4
1  4  8  9
2  1  7  2

# melhor usar o NUMPY inves de lista daqui para frente.
- economiza memória e o NUMPY tem muitos recursos.

In [20]:
dados2 = np.array([[1, 2, 4],
         [4, 8, 9],
         [1, 7, 2]])
pd.DataFrame(dados2)

   0  1  2
0  1  2  4
1  4  8  9
2  1  7  2

# renomeando as colunas.
- não entendi, só copiei.

In [25]:
dados2 = pd.DataFrame(dados2, columns='A B C'.split())
display(dados2)

   A  B  C
0  1  2  4
1  4  8  9
2  1  7  2

# como editar colunas de texto no python, talvez seja útil.
https://www.youtube.com/watch?v=2Ied2x7BPpY&ab_channel=HashtagPrograma%C3%A7%C3%A3o