In [1]:
import pandas as pd
import numpy as np

In [2]:
messi = pd.read_csv('messi.csv')
messi.head()

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type,Goal_assist
0,04/05,LaLiga,34,05-01/05,H,FC Barcelona,Albacete Balompie,2:00,CF,90+1,2:00,Left-footed shot,Ronaldinho Gaacho
1,05/06,UEFA Champions League,Group Stage,11-02/05,H,FC Barcelona,Panathinaikos Athens,5:00,RW,34,3:00,Left-footed shot,NaN
2,05/06,LaLiga,13,11/27/05,H,FC Barcelona,Racing Santander,4:01,RW,51,2:00,Left-footed shot,Samuel Etoo
3,05/06,LaLiga,19,1/15/06,H,FC Barcelona,Athletic Bilbao,2:01,RW,50,2:01,Left-footed shot,Mark van Bommel
4,05/06,LaLiga,20,1/22/06,H,FC Barcelona,Deportivo Alaves,2:00,CF,82,2:00,Left-footed shot,Ronaldinho Gaacho

In [5]:
messi = messi.drop('Goal_assist', axis=1)
messi.head()

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type
0,04/05,LaLiga,34,05-01/05,H,FC Barcelona,Albacete Balompie,2:00,CF,90+1,2:00,Left-footed shot
1,05/06,UEFA Champions League,Group Stage,11-02/05,H,FC Barcelona,Panathinaikos Athens,5:00,RW,34,3:00,Left-footed shot
2,05/06,LaLiga,13,11/27/05,H,FC Barcelona,Racing Santander,4:01,RW,51,2:00,Left-footed shot
3,05/06,LaLiga,19,1/15/06,H,FC Barcelona,Athletic Bilbao,2:01,RW,50,2:01,Left-footed shot
4,05/06,LaLiga,20,1/22/06,H,FC Barcelona,Deportivo Alaves,2:00,CF,82,2:00,Left-footed shot

In [7]:
messi = messi.rename(columns={'Season': 'Temporada', 'Competition':'Competição','Matchday':'Dia_da_partida', 'Date':'Data', 'Club':'Clube','Opponent':'Oponente','Result':'Resultado', 'Playing_Position':'Posição','Minute':'Minuto','Type':'Tipo'})
messi.head()

,Temporada,Competição,Dia_da_partida,Data,Venue,Clube,Oponente,Resultado,Posição,Minuto,At_score,Tipo
0,04/05,LaLiga,34,05-01/05,H,FC Barcelona,Albacete Balompie,2:00,CF,90+1,2:00,Left-footed shot
1,05/06,UEFA Champions League,Group Stage,11-02/05,H,FC Barcelona,Panathinaikos Athens,5:00,RW,34,3:00,Left-footed shot
2,05/06,LaLiga,13,11/27/05,H,FC Barcelona,Racing Santander,4:01,RW,51,2:00,Left-footed shot
3,05/06,LaLiga,19,1/15/06,H,FC Barcelona,Athletic Bilbao,2:01,RW,50,2:01,Left-footed shot
4,05/06,LaLiga,20,1/22/06,H,FC Barcelona,Deportivo Alaves,2:00,CF,82,2:00,Left-footed shot

In [10]:
messi.isnull().sum()

Temporada         0
Competição        0
Dia_da_partida    0
Data              0
Venue             0
Clube             0
Oponente          0
Resultado         0
Posição           0
Minuto            0
At_score          0
Tipo              1
dtype: int64

In [15]:
# onde está o valor NULO.
messi[messi.isnull().any(axis=1)]

,Temporada,Competição,Dia_da_partida,Data,Venue,Clube,Oponente,Resultado,Posição,Minuto,At_score,Tipo
22,06/07,LaLiga,37,06/09/07,H,FC Barcelona,RCD Espanyol Barcelona,2:02,RW,43,1:01,NaN