In [24]:
#pesquisar depois pq o vídeo ficou vago

In [3]:
#cada vez que i for 1 ou 2, ou 3... ele vai imprimir a frase
for i in range(5):
    print('vou aprender')

vou aprender
vou aprender
vou aprender
vou aprender
vou aprender

In [2]:
# imprimir um intevalo
for a in range(1,11):
    print(a)

1
2
3
4
5
6
7
8
9
10

In [2]:
# range de 2 a 14 inde de 3 em 3.
# lembrando que começa no 0 por isso o 15 fica fora.
for c in range(2,14,3):
    print(c)

2
5
8
11

In [11]:
for e in range(5):
    print(e*2)

0
2
4
6
8

In [14]:
for b in range(5):
    print(b+1)

1
2
3
4
5

In [17]:
# o A vai rodar dentro do loop
#a = 0
#a = a + 1 = a =1
#a = a + 1 = a =2
#a = a + 1 = a =3
#a = a + 1 = a =4
#a = a + 1 = a =5
a = 0
for i in range(5):
    a = a + 1
print(a)

5

In [18]:
#quando tem recuo ele ainda tá no loop e imprimi todo o loop.
a = 0
for i in range(5):
    a = a + 1
    print(a)

1
2
3
4
5

In [19]:
# o número de repetições é 10 pq b é igul a 10 e vai entre aprenteses 
a = 0
b = 10
for i in range(b):
    print('frase')

frase
frase
frase
frase
frase
frase
frase
frase
frase
frase

In [20]:
palavra = 'matemática'
for i in palavra:
    print(i)

m
a
t
e
m
á
t
i
c
a

In [22]:
palavra = 'português'
for hkhj in palavra:
    print(hkhj)

p
o
r
t
u
g
u
ê
s

### o for pode ser ussado em quase tudo, lista dicionário, tuplas....

In [23]:
lista = [2,'oi',54,8,10,4,4]
for num in lista:
    print(num)

2
oi
54
8
10
4
4

### pegando somente valores PARES de uma lista.
   - eu coloquei um IF dentro do FOR.

In [5]:
valores = [11,15,55,22,10,16,7,9,68,71,72]
for v in valores:
    if v%2 == 0: #se o resto da divisão por 2 for ZERO.
        print(v)

22
10
16
68
72

### fazendo alguma operação básica com for

In [6]:
valor = [11,15,55,22,10,16]
for y in valor:
    respo = (y+2)/10
    print(respo)

1.3
1.7
5.7
2.4
1.2
1.8