# ***TIPOS DE VARIÁVEIS***

In [8]:
var = 4
var2 = 3.5

In [9]:
#número inteiro são variáveis do tipo inteiro INT
type(var)

int

In [10]:
#número quebrado são  variáveis do tipo FLOAT (pontos flutuantes)
type(var2)

float

In [11]:
palavra = 'frase 1'

In [12]:
#palavras são variáveis do tipo SRT (stren)
type(palavra)

str

In [13]:
print(var + var2)

7.5

In [15]:
#não se pode fazer operações com STR e FLOAT/INT, somente INT e FLOAT pode.
print(var + palavra)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [3]:
#tranformar um número inteiro ou uma variável definida como inteiro em float
a = float(5)
print(a)
print(type(a))
type(a)

5.0
<class 'float'>

float

In [4]:
num = float(9)
print(num)

9.0

In [6]:
#passa um float para inteiro, sempre arredonda pra baixo.
num2 = 5.9
b = int(num2)
type(b)
print(b)

5

In [13]:
#somente string numéricas podem ser tranformada em int e float.
n = int('5')
type(n)
print(n)

5

In [14]:
#não dar pra tranformar string numérica float para int direto
h = int('5.5')
type(h)

ValueError: invalid literal for int() with base 10: '5.5'

In [19]:
#pra tranformar em int o caso acima primeiro transforma a string em float e depois int
h = int(float('5.5'))
print(h)

5

In [18]:
type(h)

int